*,
::after,
::before {
  box-sizing: border-box;
}

.App {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.videoPathInputContainer {
  padding-bottom: 10px;
}

.videoContainer {
  border: 1px solid black;
  width: 100%;
  height: 100vh;
}

.videoPlayerContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.videoMemoListContainer {
  border-left: 1px solid black;
}

.memoCard {
  border-bottom: 1px solid black;
  overflow-x: scroll;
}

.seekBtn {
  padding-top: 0px;
  padding-bottom: 0px;
}

.reactPlayer {
  border-bottom: 1px solid black;
}

.memoInput {
  overflow: scroll;
  flex-grow: 1;
  width: 100%;
  height: 600px;
}

.actvieBtn {
  background-color: black;
}